@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html, body{
    font-family: 'Poppins' , sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 32px;
}

.header{
    height: 800px;
    background-color: black;
    background-image: url('../image/header-back.png');
    background-position: center center;
    background-size: cover;
    border-radius: 0 0 54px 54px;
    height: 800px;

}

.header a, header {
    color: #fff;
}

.nav-list__link{
    color: #fff;
    opacity: 0.7;
}

.nav-list__link--active{
    opacity: 1;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
    column-gap: 54px;
} 

.user {
    display: flex;
    column-gap: 8px;
    align-items: center;
}
.user__content {
 
}
.user__content span{
    color: #fff;
    opacity: 0.5;
    font-size:14px;
    line-height: 21px;
}

.user__name{
    font-weight: 600;
    opacity: 1;

}

.user__avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    overflow: hidden;

}