@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html, body{
    font-family: 'Poppins' , sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 32px;
}

.header{
    background-color: black;
    background-image: url('../image/header-back.png');
    background-position: center center;
    background-size: cover;
    border-radius: 0 0 54px 54px;
    height: 800px;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    column-gap: 54px;
}